<div class="wrapper ">
  <app-sidebar></app-sidebar>
  <router-outlet></router-outlet>
  <div class="main-panel">
    <app-header></app-header>
    <!-- Content -->
    <div class="content" style="">
      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-8 col-md-6 col-sm-6">
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/clients" style="cursor: pointer" href="">Clients</a></li>
                <li class="breadcrumb-item active" aria-current="page">Ajouter un client</li>
              </ol>
            </nav>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-8 col-md-6 col-sm-6">
            <div class="card">

              <div class="card-header card-header-primary">
                <h4 class="card-title ">Ajouter un nouveau client</h4>
                <p class="card-category">Veuillez renseigner les détails sur ce client</p>
                <button class="btn btn-success pull-right" (click)="onBack()">Retour</button>
              </div>
              <div class="card-body">

                <form [formGroup]="clientForm" (ngSubmit)="onSaveClient()">
                  <div class="row">
                    <div class="col-lg-8 col-md-6 col-sm-6">
                      <div class="form-group">
                        <label for="name" class="bmd-label-floating">Nom</label>
                        <input formControlName="name" 
                          type="text" class="form-control" name="name"
                          id="name" />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-8 col-md-6 col-sm-6">
                      <div class="form-group">
                        <label for="phone" class="bmd-label-floating">Téléphone</label>
                        <input formControlName="phone"
                         type="text" class="form-control" name="phone"
                          id="phone" />
                      </div>
                    </div>
                  </div>  
                  <div class="row">
                    <div class="col-lg-8 col-md-6 col-sm-6">
                      <div class="form-group">
                        <label for="address" class="bmd-label-floating">Adresse</label>
                        <input formControlName="address" 
                          type="text" name="address" id="address" class="form-control"/>
                      </div>
                    </div>
                  </div>


                  
                  <div class="row">
                    <button class="btn btn-primary" 
                    [disabled]="clientForm.invalid"
                    type="submit">Enregistrer</button>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- End Content -->
  </div>


  <!-- Footer 
      <footer class="footer">
          <div class="container-fluid">
              <nav class="float-left">
                  <ul>
                      <li>
                          <a href="https://www.creative-tim.com">
                              Creative Tim
                          </a>
                      </li>
                      <li>
                          <a href="https://creative-tim.com/presentation">
                              About Us
                          </a>
                      </li>
                      <li>
                          <a href="http://blog.creative-tim.com">
                              Blog
                          </a>
                      </li>
                      <li>
                          <a href="https://www.creative-tim.com/license">
                              Licenses
                          </a>
                      </li>
                  </ul>
              </nav>
              <div class="copyright float-right">
                  &copy;
                  <script>
                      document.write(new Date().getFullYear())
                  </script>, made with <i class="material-icons">favorite</i> by
                  <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
              </div>
          </div>
      </footer>
      End Footer -->
</div>