<div class="wrapper ">
    <app-sidebar></app-sidebar>
    <router-outlet></router-outlet>
    <div class="main-panel">
      <app-header></app-header>
      <!-- Content -->
      <div class="content" style="">
        <div class="container-fluid">
  
          <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-6">
              <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/dashboard" style="cursor: pointer" href="">Stocks</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Liste des sorties effectuées</li>
                </ol>
              </nav>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-6">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Liste des sorties</h4>
                  <p class="card-category">Trouvez ci-dessous les sorties effectuées au niveau du stock</p>
                  <button class="btn btn-success pull-right" (click)="onNewExit()">Ajouter sortie</button>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="text-primary">
                        <th>
                          Article
                        </th>
                        <th>
                          Quantité
                        </th>
                        <th>
                          Prix
                        </th>
                        <th>
                          Date
                        </th>
                        <th>
                          Employé
                        </th>
                        <th>
                            Détails
                        </th>
                        <th>
                          Supprimer
                        </th>
                      </thead>
                      <tbody id="productList">
                        <tr *ngFor="let exit of exits; let i = index">
                          <td>{{ exit.product_reference }}</td>
                          <td>{{ exit.quantity }}</td>
                          <td>{{ exit.price }}</td>
                          <td>{{ exit.exit_date }}</td>
                          <td>{{ exit.user_id }}</td>
                          <td><span style="cursor: pointer;" (click)="onViewExit(i)">Détails</span></td>
                          <td><span style="cursor: pointer;" class="text-danger"
                              (click)="onDeleteExit(exit)">Supprimer</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
      <!-- End Content -->
    </div>
  
  
    <!-- Footer 
      <footer class="footer">
          <div class="container-fluid">
              <nav class="float-left">
                  <ul>
                      <li>
                          <a href="https://www.creative-tim.com">
                              Creative Tim
                          </a>
                      </li>
                      <li>
                          <a href="https://creative-tim.com/presentation">
                              About Us
                          </a>
                      </li>
                      <li>
                          <a href="http://blog.creative-tim.com">
                              Blog
                          </a>
                      </li>
                      <li>
                          <a href="https://www.creative-tim.com/license">
                              Licenses
                          </a>
                      </li>
                  </ul>
              </nav>
              <div class="copyright float-right">
                  &copy;
                  <script>
                      document.write(new Date().getFullYear())
                  </script>, made with <i class="material-icons">favorite</i> by
                  <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
              </div>
          </div>
      </footer>
      End Footer -->
  </div>